.banner {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: Black;
  color: rgb(190, 120, 21);

  .banner-left {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

    h1, p, h2 {
      opacity: 0;                 // texte invisible au départ
      transform: translateY(20px); // léger décalage vers le bas
      animation: fade-in 1.5s ease-out forwards; // animation
    }

    h1 {
      animation-delay: 0.5s; // délai pour le titre
    }

    p {
      animation-delay: 1s;   // délai pour le paragraphe
    }

    h2 {
      animation-delay: 2.5s; // délai pour le titre
    }
  }

  .banner-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/wallCards.webp') no-repeat center center;
    background-size: cover;


}

  @keyframes fade-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
  }
}
