.banner {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;

  .banner-left {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;

    h1, p, h2 {
      opacity: 0;
      transform: translateY(20px);
      animation: fade-in 1.5s ease-out forwards;
    }

    h1 { animation-delay: 0.5s; }
    p  { animation-delay: 1s; }
    h2 { animation-delay: 2.5s; }
  }

  .banner-right {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/wallCards.webp') no-repeat center center;
    background-size: cover;
  }

  @keyframes fade-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1 { font-size: 3rem; font-weight: bold; margin-bottom: 1rem; }
  p  { font-size: 2rem; margin-bottom: 2rem; }
  h2 { font-size: 2.5rem; font-weight: bold; margin-top: 1.5rem; }

  /* ------------------- Media Queries ------------------- */
  @media (max-width: 768px) {
    padding-top: 124px;
    flex-direction: column; /* texte au-dessus de l'image */
    height: auto;

    .banner-left, .banner-right {
      flex: 1;              /* chaque côté prend la moitié */
      padding: 1.5rem;
    }

    .banner-left {
      height: auto;  /* hauteur fixe pour le texte */
      min-height: 200px;
      h1 { font-size: 3rem; }
      p  { font-size: 1rem; }
      h2 { font-size: 2rem; margin-top: 0; }
      text-align: center;
    }

    .banner-right {
      min-height: 450px;    /* hauteur minimale pour l'image */
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  @media (max-width: 480px) {

    height: auto;
    padding-top: 105px;
    gap: 0.5rem; /* réduire l'espace entre texte et image */

    .banner-left {
      h1 { font-size: 2rem; }
      p  { font-size: 1rem; }
      h2 { font-size: 1.5rem; }
      text-align: center;
    }

    .banner-right {
      width: 100%;
      min-height: 200px;  /* réduire hauteur pour tout tenir */
      background-size: cover;
    }
  }
}