.card {
  position: relative;
  width: 100%;
  height: 150px;
  perspective: 1000px;

  .card-front,
  .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.8s ease, opacity 0.8s ease;
  }

  .card-back {
    transform: rotateY(0deg); // dos de carte visible par défaut
  }

  .card-front {
    transform: rotateY(180deg); // devant invisible par défaut
  }

  &.revealed .card-back {
    transform: rotateY(-180deg); // fait disparaître le dos
    opacity: 0;
  }

  &.revealed .card-front {
    transform: rotateY(0deg); // fait apparaître le devant
    opacity: 1;
  }

   // Delai progressif pour chaque carte
  &:nth-child(1) {
    .card-front,
    .card-back {
      transition-delay: 1.5s;
    }
  }

  &:nth-child(2) {
    .card-front,
    .card-back {
      transition-delay: 1.8s;
    }
  }

  &:nth-child(3) {
    .card-front,
    .card-back {
      transition-delay: 2.1s;
    }
  }

  &:nth-child(4) {
    .card-front,
    .card-back {
      transition-delay: 2.4s;
    }
  }

  &:nth-child(5) {
    .card-front,
    .card-back {
      transition-delay: 2.7s;
    }
  }

  &:nth-child(6) {
    .card-front,
    .card-back {
      transition-delay: 3s;
    }
  }
}